<mat-toolbar>
  <span class="logo" routerLink="/home">ixigo</span>
  <div class="icons">
    <mat-icon> local_airport</mat-icon>
    Flights
  </div>
  <div class="icon">
    <mat-icon> train</mat-icon>Trains
  </div>
  <div class="icon">
    <mat-icon> directions_bus</mat-icon> Buses
  </div>
  <div class="icons">
    <mat-icon> hotel</mat-icon>Hotels
  </div>

  <span class="example-spacer"></span>
  <div class="icons">
    <mat-icon>loyalty</mat-icon> Offers
  </div>
  <div class="icons">
    <mat-icon> call</mat-icon> Customer Service
  </div>
  <div class="icons">
    <mat-icon>person_outline</mat-icon>Login/Sign Up
  </div>
</mat-toolbar>