.container{
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 45%;
    left: 10%;
    border-radius: 2%;
}
.search{
    background-color: #EC5B24;
    margin-top: 8px;
    width: 100px;
}
input{
    border: none;
    text-align: center;
}
.background-image
{
    margin-top: 57px;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
}
